body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: navy;
    opacity: 1;
    font-size:14px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;

}

p {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.article_and_data {
    text-align: left;
    background-color: whitesmoke;
    opacity: 1;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
}

ul {
    justify-content:center;
    text: center;
    text-align: left;
    list-style-type: none;
    font-size: 10px;
}

/* .linkedin{
    padding-right: 50px;
} */

.profiles {
    justify-content:center;
    text: center;
    text-align: left;
    background-color: whitesmoke;
    opacity: 1;
    font-size: 10;
}


footer {
    background-color: whitesmoke;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: navy;
    color: black;
    min-height: 55px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
}

#team img {
    border-radius: 28px;
}

#team {}